			body
			{
				margin-left: 520px;
				margin-top: 85px;
				background-image: url(mat.jpg);
				background-size: 1600px;
			}

			.inputan
			{
				height: 50px;
				color: white;
				box-shadow: 0px 25px rgba(0, 0, 0, 0.7);
				font-family: "agency fb";
				text-align: right;
				font-size: 35px;
				width: 271px;
				background-color: #777474;
				border: 1px solid #777474;
				border-bottom: 5px solid #474444;
				border-top: 5px solid #474444;
				border-right: 5px solid aqua;
				border-left: 5px solid aqua;
			}

			h3
			{
				margin-left: 38px;
				font-family: "agency fb";
				font-size: 25px;
				color: white;
				margin-top: 18px;
			}

			.log
			{
				padding: 12px 15px;
				background-color: #e6e6e6;
				border: white;
				margin-top: 25px;
			}

			.log:hover
			{
				background-color: #cfcfcf;
				transition: 1s;
			}

			.button
			{
				font-size: 25px;
				font-family: "agency fb";
				padding: 11px 22px;
				background-color: #e6e6e6;
				border: white;
				margin-right: 3px;
				padding-left: 25px;
				padding-bottom: 10px;
				padding-top: 10px;
				padding-left: 23px;
			}

			#myTopnav
			{
				background-color: #20ad98;
				height: 67px;
				width: 277px;
				border-bottom: 3px solid aqua;
				border-top: 3px solid aqua;
				border-right: 3px solid aqua;
				border-left: 3px solid aqua;
				background-image: url(10.jpg);
				background-size: 150px;
			}

			.button5
			{
				font-size: 25px;
				font-family: "agency fb";
				padding: 11px 25px;
				border: white;
				background-color: #f2f2f2;
				margin-right: 3px;
			}

			#persen
			{
				padding-left: 23px;
			}

			#akar
			{
				padding-left: 26px;
			}
			
			#per
			{
				padding-left: 20px;
				padding-right: 20px;
			}

			img
			{
				width: 30px;
			}

			.hapus
			{
				padding: 17px 15px 14px;
				background-color: #e6e6e6;
				border: white;
				padding-right: 19px;
				margin-right: 2px;
			}

			.button1
			{
				font-size: 25px;
				font-family: "agency fb";
				padding: 11px 27px;
				padding-left: 29px;
				background-color: #e6e6e6;
				border: white;
				margin-right: 3px;
			}

			#delapan
			{
				padding-left: 26px;
				padding-right:  25px;
				margin-right: 2px;
			}

			#sembilan
			{
				padding-left: 27px;
				margin-right: 2px;
			}
			
			#tambah
			{
				padding-left: 26px;
				padding-right: 27px;
			}

			.button2
			{
				font-size: 25px;
				font-family: "agency fb";
				padding: 11px 27px;
				background-color: #e6e6e6;
				border: white;
				padding-left: 28px;
				margin-right: 3px;
			}

			#lima
			{
				padding-left: 26px;
				padding-right: 26px;
				margin-right: 2px;
			}

			#enam
			{
				padding-left: 26px;
				padding-right: 28px;
				margin-right: 2px;
			}

			#kurang
			{
				padding-left: 27px;
				padding-right: 29px;
			}

			.button3
			{
				font-size: 25px;
				font-family: "agency fb";
				padding: 11px 26px;
				padding-right: 29px;
				background-color: #e6e6e6;
				border: white;
				padding-left: 31px;
				margin-right: 3px;
			}

			#dua
			{
				padding-left: 26px;
				padding-right: 26px;
				margin-right: 2px;
			}

			#tiga
			{
				margin-right: 2px;
				padding-left: 27px;
				padding-right: 27px;
			}

			#kali
			{
				padding-left: 27px;
			}

			.button1:hover, .button2:hover, .button3:hover, .button4:hover, .button:hover, .hapus:hover, .c:hover, .button5:hover, .pang:hover, .opr:hover
			{
				background-color: #cfcfcf;
				transition: 0.1s;
			}

			.button4
			{
				font-size: 25px;
				font-family: "agency fb";
				padding: 11px 28px;
				background-color: #e6e6e6;
				border: white;
				padding-left: 33px;
				margin-right: 3px;
			}

			#nol
			{
				padding-left: 26px;
				padding-right: 25px;
				margin-right: 2px;
			}

			#plus
			{
				font-size: 20px;
				padding-left: 20px;
				padding-top: 16px;
				padding-bottom: 12px;
				margin-right: 2px;
				padding-right: 21px;
			}

			#hasil
			{
				padding-left: 26px;
				padding-right: 27px;
			}

			.c
			{
				font-size: 25px;
				font-family: "agency fb";
				padding: 10px 20px;
				padding-left: 26px;
				background-color: #e6e6e6;
				border: white;
				margin-right: 2px;
				padding-right: 26px;
			}

			.pang
			{
				font-size: 24px;
				font-family: "agency fb";
				padding: 10px 22px;
				padding-left: 27px;
				padding-bottom: 12px;
				margin-left: -1px;
				border: white;
				background-color: #f2f2f2;
				margin-right: 2px;
			}

			hr
			{
				margin-top: 25px;
				margin-right: 10px;
				color: aqua;
			}

			.opr
			{
				font-size: 25px;
				font-family: "agency fb";
				padding: 10px 25px;
				padding-left: 28px;
				background-color: #e6e6e6;
				border: white;
			}

			.wrapper
			{
				background: #0785bf;
		    		padding-left: 10px;
		    		margin-left: -10px;
		    		margin-top: 65px;
		    		margin-bottom: 0px;
		    		width: 705px;
		    		border-radius: 5px;
				height: 508px;
				padding-top: 11px;
				width: 293px;
				box-shadow: 0 0 200px rgb(54, 111, 220);
			}

			#kalk1
			{
				margin-top: -8px;
		    		background: #e6e6e6;
		    		width: 278px;
		    		border-right: 2px solid aqua;
		    		border-left: 3px solid aqua;
		    		border-bottom: 3px solid aqua;
			}
